* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #142850;
  color: #d0ebff;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27496D;

  /* makes header sticky */
  height: 3.2rem;
  padding: 0 4rem;
  padding-top: 0.7rem;
  position: relative;

  /* FORMAT Home */
  text-decoration: none;
  color: #d0ebff;
  font-weight: 300;
  font-size: 1.2rem;
  transition: all 0.3s;
}

/* Nav Bar */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #d0ebff;
  font-weight: 300;
  font-size: 1.2rem;
  transition: all 0.3s;
}

/* Introduction container */
.top-container {
  max-width: 100rem;
  margin: 6rem auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 80%;
}


/* button formatting */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.6rem 2.2rem;
  margin-top: 1.2rem;
  border-radius: 9px;
  font-weight: 500;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #0C7B93;
  color: #d0ebff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #27496D;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #d0ebff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

/* About Me container */
.about-me-container{
  background-color: #27496D;
  color: #d0ebff;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 10rem;
}

.about-me-description {
  font-weight: 200;
}

/* carousel details */
#product-family-pictures {
  background-color: #27496D;
  color: #d0ebff;
  width: 700px;
  height: 400px;
  margin: auto;
}

.product-family-carousel {
  padding-top: 0;
}

.carousel-item {
  padding-top: 0;
}

.carousel-text {
  font-size: 30px;
  color: #d0ebff;
  text-align: center;
  padding-bottom: 0;
}

.carosel-header-details {
  font-size: 15px;
  color: #d0ebff;
  text-align: center;
  padding-top: 0;
}

.carousel-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin: 20px;
  float: left;
}

.carousel-decription-text {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.carousel-item {
  padding: 25px 15%;
}

.carousel-control-prev,
.carousel-control-next-icon {
  filter: invert(100%);
}

/* Timeline */
.timeline-section {
  background-color: #27496D;
  color: #d0ebff;
}

.timeline{
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: sans-serif;
  color: #d0ebff;
}

.timeline-component{
  margin: 0 20px 20px 20px;
}

.timeline-component-bg{
  padding: 1.5em;
  background: rgb(20, 40, 80, 0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  border-radius: 10px;
}

.timeline-component-bottom {
  margin-bottom: 0;
}

.timeline-date-right{
  text-align: right;
}

/* styles white bar */
.timeline-middle{
  position: relative;
  background:#d0ebff ;
}

.timeline-point{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: #d0ebff;
  border-radius: 50%;
}

.timeline-point-bottom {
  top: initial;
  bottom: 0;
}

.timeline-title{
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
  color: #a5d8ff;
}

.timeline-paragraph{
  line-height: 1.5;
}

/* Helper classes */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* Links/ Bottom */
/* .bottom-container {
    background-color: #27496D;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.footer-link {
    color: #92A9BD;
    margin-bottom: 100px;
    width: 50%;
    text-decoration: none;
}

.citing {
    color: #7C99AC
} */
